# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment folder
venv/

# Ignore SQLite database file
*.db

# Ignore environment and secret configuration files
.env
instance/

# Ignore IDE or editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore system-specific files
.DS_Store
Thumbs.db
