{% extends "base.html" %}

{% block title %}
    Home - StockStudy
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center my-5">
            <h1>Study Groups</h1>
            <button class="btn btn-primary my-4 px-4 py-2 shadow-sm" data-bs-toggle="modal" data-bs-target="#createGroupModal">
                Create Study Group
            </button>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container mb-3">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3 my-3">
            {% for group in study_groups %}
                <div class="col">
                    <div class="card shadow-sm hover-shadow">
                        <div class="card-header bg-white p-3">
                            <h5 class="card-title mb-0">{{ group.name }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <span class="badge p-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">{{ group.subject }}</span>
                            </p>
                            <p class="card-text">
                                <strong>Location:</strong> {{ group.location }}
                            </p>
                            <p class="card-text">
                                <strong>Description:</strong> {{ group.description }}
                            </p>
                            <p class="card-text">
                                <strong>Members:</strong> {{ group.current_members }} / {{ group.max_members }}
                            </p>
                            {% if group.current_members < group.max_members %}
                                <form action="/join-group" method="POST">
                                    <button type="submit" name="group_id" class="btn btn-primary w-100" value="{{ group.id }}">Join Group</button>
                                </form>
                            {% else %}
                                <button class="btn btn-primary w-100" disabled>Full</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content shadow-sm">
                <div class="modal-header">
                    <h5 class="modal-title" id="createGroupModalLabel">Create Study Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <form action="/create-group" method="POST">
                        <div class="mb-3">
                            <label for="group-name" class="form-label fw-bold">Group Name</label>
                            <input type="text" class="form-control" id="group-name" name="group-name" placeholder="Enter group name" required>
                        </div>
                        <div class="mb-3">
                            <label for="subject" class="form-label fw-bold">Subject</label>
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter subject name" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label fw-bold">Description</label>
                            <textarea type="text" class="form-control" id="description" name="description" placeholder="Brief description of the group" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label fw-bold">Location</label>
                            <input type="text" class="form-control" id="location" name="location" placeholder="Enter location (e.g., Library Room 302 or Remote)" required>
                        </div>
                        <div class="mb-3">
                            <label for="max-members" class="form-label fw-bold">Max Members</label>
                            <input type="number" class="form-control" id="max-members" name="max-members" placeholder="Enter max number of members" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 py-2 my-1">Create Group</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 