{% extends "base.html" %}

{% block title %}
    {{ group.name }} - StockStudy
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card shadow-sm">
        <div class="card-header">
            <h2 class="mb-0">{{ group.name }}</h2>
            <p class="mb-0">Subject: <span class="fw-bold">{{ group.subject }}</span></p>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <button class="btn btn-primary">Edit</button>
            </div>
            <div class="mb-3">
                <h5>Description</h5>
                <p>{{ group.description }}</p>
            </div>
            <div class="mb-3">
                <h5>Location</h5>
                <p>{{ group.location }}</p>
            </div>
            <div class="mb-3">
                <h5>Owner</h5>
                <p>{{ group.owner.name }}</p>
            </div>
            <div class="mb-3">
                <span><strong>Members</strong> - ({{ group.current_members }} / {{ group.max_members }})</span>
            </div>
            <div class="mb-3">
                <div> 
                    <ul class="list-group">
                    {% for member in members %}
                        <li class="list-group-item d-flex align-items-center">
                            {{ member.name }}
                            <div class="ms-auto">
                                <button class="btn btn-primary btn-sm">Email</button>
                                <button class="btn btn-danger btn-sm">Remove</button>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>  
            </div>
            <div class="mb-3">
                <h5>Created On</h5>
                <p>{{ group.created_at.strftime('%B %d, %Y') if group.created_at else 'Unknown' }}</p>
            </div>
            <form action="/delete-group" method="POST">
                <button type="submit" name="group_id" class="btn btn-danger" value="{{ group.id }}">Delete Group</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}