<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Map - StockStudy</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <link href="https://api.mapbox.com/mapbox-gl-js/v3.9.1/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.1/mapbox-gl.js"></script>
        
        <style>
            body { margin: 0; padding: 0; }
            #map { position: absolute; top: 0; bottom: 0; width: 100%; }
        </style>
    </head>

    <body>
        <div id="map"></div>
        <script>
            mapboxgl.accessToken = '{{ ACCESS_KEY }}';
            const map = new mapboxgl.Map({
                container: 'map',
                center: [-74.531132, 39.492082],
                zoom: 16,
                lightPreset: 'dusk',
            });

            map.on('style.load', () => {
                map.setConfigProperty('basemap', 'showPlaceLabels', false);
                map.setConfigProperty('basemap', 'showRoadLabels', false);
                map.setConfigProperty('basemap', 'showPointOfInterestLabels', false);
                map.setConfigProperty('basemap', 'showTransitLabels', false);
                map.setConfigProperty('basemap', 'lightPreset', 'day');

                map.addSource('stockton_data', {
                    'type': 'vector',
                    'url': 'mapbox://tylermong.cm51s1jh72g4v1up8msmajkpe-55o6r'
                });
                
                map.addLayer({
                    'id': 'stockton_layer',
                    'type': 'circle',
                    'source': 'stockton_data',
                    'source-layer': 'StockStudy',
                    'layout': {},
                    'paint': {
                        'circle-radius': 6,
                        'circle-color': '#79BDE9',
                    }
                });

                map.on('click', 'stockton_layer', (e) => {
                    const coordinates = e.features[0].geometry.coordinates.slice();
                    const name = e.features[0].properties.name;
                    const spaces = e.features[0].properties.spaces;

                    new mapboxgl.Popup()
                        .setLngLat(coordinates)
                        .setHTML(`<h3>${name}</h3><p>${spaces}</p>`)
                        .addTo(map);
                });
            });
        </script>
    </body>
</html>