{% extends "base.html" %}

{% block title %}
    My Groups - StockStudy
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h1 class="fw-bold">My Study Groups</h1>
           <div class="f-flex g-2 ms-auto">
                <button class="btn btn-outline-primary my-4 m-1" data-bs-toggle="modal" data-bs-target="#createGroupModal">
                    Create Study Group
                </button>
                <a href="/find-groups" class="btn btn-primary">Find New Groups</a>
            </div>
        </div>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container mb-3">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-2">
            {% if study_groups %}
                {% for group in study_groups %}
                    <div class="col">
                        <div class="card shadow-sm h-100 p-1">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{ group.name }}</h5>
                                <p class="card-text my-3">
                                    <span class="badge p-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">{{ group.subject }}</span>
                                </p>
                                <hr class="my-3">
                                <p class="card-text text-muted text-truncate">
                                    {{ group.description }}
                                </p>
                                <hr class="my-3">
                                <p class="card-text">
                                    <strong>Type:</strong> {{ group.group_type.capitalize() }}
                                </p>
                                <p class="card-text">
                                    <strong>Members:</strong> {{ group.current_members }}
                                </p>
                                <p class="card-text">
                                    <strong>Owner:</strong> {{ group.owner.name }}
                                </p>
                                {% if user == group.owner_id %}
                                    <form action="{{ url_for('main.manage_group', group_id=group.id) }}">
                                        <button class="btn btn-outline-primary py-2 btn-sm w-100">Manage Group</button>
                                    </form>
                                {% else %}
                                    <form action="{{ url_for('main.view_group', group_id=group.id) }}">
                                        <button class="btn btn-outline-primary py-2 btn-sm w-100">View Group</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="container d-flex justify-content-center mt-3">
                    <div class="text-center">
                        <h4 class="mb-3">No Groups Available</h4>
                        <p class="text-muted">Start by creating or finding a group to join and collaborate with others.</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content shadow-sm">
                <div class="modal-header">
                    <h5 class="modal-title" id="createGroupModalLabel">Create Study Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <form action="/create-group" method="POST">
                        <div class="mb-3">
                            <label for="group-name" class="form-label fw-bold">Group Name</label>
                            <input type="text" class="form-control" id="group-name" name="group-name" placeholder="Enter group name" required>
                        </div>
                        <div class="mb-3">
                            <label for="subject" class="form-label fw-bold">Subject</label>
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter subject name" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label fw-bold">Description</label>
                            <textarea type="text" class="form-control" id="description" name="description" placeholder="Brief description of the group" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Group Type</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="radio" class="btn-check" name="group-type" id="group-type-public" value="public" required>
                                    <label class="btn btn-light border rounded shadow-sm w-100" for="group-type-public">
                                        <div class="text-center py-2">
                                            <h6 class="fw-bold">Public</h6>
                                            <small class="text-muted">Anyone can join this group</small>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="radio" class="btn-check" name="group-type" id="group-type-private" value="private">
                                    <label class="btn btn-light border rounded shadow-sm w-100" for="group-type-private">
                                        <div class="text-center py-2">
                                            <h6 class="fw-bold">Private</h6>
                                            <small class="text-muted">Requires approval to join</small>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 py-2 my-1">Create Group</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 