{% extends "base.html" %}

{% block title %}
    Change Password - StockStudy
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center mt-5">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <h3 class="card-title text-center mb-4">Reset your password</h3>
                    
                    <form method="POST" action="{{ url_for('auth.change_password')}}">
                        <div class="mb-4">
                            <label for="new-password" class="form-label">New Password</label>
                            <input type="password" name="new-password" class="form-control" id="new-password" placeholder="Enter new password here" autocomplete="new-password" required autofocus>
                        </div>
                        <div class="mb-4">
                            <label for="new-confirm-password" class="form-label">Confirm your password</label>
                            <input type="password" name="new-confirm-password" class="form-control" id="new-confirm-password" placeholder="Enter new password (again)" required autocomplete="new-password">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Continue</button>
                    </form>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="mt-4">
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}